// Colors by name
//
// NOTE:  Please do not reference these directly.
//        For semantic purposes, please reference
//        a color by its use name below.
//
// –––––––––––––––––––––––––––––––––––––––––––––––
$white:       #fff;
$black:       #000;
$coal:        #444444;
$l-coal:      #777777;

$border-gray: #e7e7e7;
$base-gray:   #F8F8F8;

$blue:        #3498db;
$d-blue:      #2e88c4;

// Colors by Use
//
// See example here: https://gist.github.com/dbox/e7b206a04d39598e32237b5f1317ef83
//
// –––––––––––––––––––––––––––––––––––––––––––––––

// General
$color-primary:   $color-primary;

// Buttons
$primary-button:  $color-primary;

// Backgrounds

// Typography
$primary-text:    darken($base-gray, 15%);
$primary-heading: darken($base-gray, 25%);

// Interactive
$primary-button:  $color-primary;

// Borders
