body {
  background-color: $base-gray;
}

// Max container based on $max-site-width:
.max-container {
  @include center($max-site-width);
  position: relative;
}

// Responsive container
.container {
  @include center($desktop, $mobile-gutter);
  padding-top: 3%;
  background-color: $white;
}

//todo: generic layout templates

hr {
  @include rule();
}
