// Vendor
@import 'include-media/dist/include-media';
@import 'jeet/scss/jeet/index';
@import 'knapsack/knapsack/index';

// Knapsack
@include normalize();
@include reset-elements();
@include initialize-animation();

// base elements
@import 'base/settings';
@import 'base/colors';
@import 'base/mixins';
@import 'base/typography';
@import 'base/layout';

// modules
@import 'modules/nav';
@import 'modules/buttons';
@import 'modules/footer';
@import 'modules/header';
@import 'modules/forms';
@import 'modules/modal';
@import 'modules/video';
@import 'modules/post';

// components
@import 'components/category-badge';
